.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-main {
    position: fixed;
    background-color: #fff;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    height: 650px;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}
.btnclose{
    border: 1px solid gray;
}