.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 10px orange;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    cursor: pointer;
    background-color: white;
    position: relative;
    top : -50px;
        
}

.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 10px red;
    border-radius: 50%;
    height: 200px; 
    width: 200px;
    cursor: pointer;
    background-color: white;
    position: relative;
    top : 200px;
}

.btn3{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 10px blue;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    cursor: pointer;
    background-color: white;
    position: relative;
    top : -50px;
}
img{
    height: 100px;

}    

.vanish{
    display: none !important;
}


#chiant{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #192648;
}

