.computer {
    opacity: 0.7;
  }
  
  .btn, .result {
    height: 20vh;
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  .result {
    justify-content: center;
    align-items: center;
  }
  .computer {
    opacity: 0.7;
  }
  
  .btn, .result {
    height: 20vh;
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  .result {
    justify-content: center;
    align-items: center;
  }
    
.App{
  display: flex;
  justify-content: center;
}
  .container{
    position: absolute;
    border: solid 1px rgb(255, 254, 254);
    border-radius: 15px;
    z-index: 1;
    height: 150px;
    width: 750px;
    margin-top: 2%;
  }