.computer {
    opacity: 0.7;
  }
  
  .btn, .result {
    height: 20vh;
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  .result {
    justify-content: center;
    align-items: center;
  }
  .computer {
    opacity: 0.7;
  }
  
  .btn, .result {
    height: 20vh;
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  .result {
    justify-content: center;
    align-items: center;
  }
    
.App{
  display: flex;
  justify-content: center;
}
  .container{
    position: absolute;
    border: solid 1px rgb(255, 254, 254);
    border-radius: 15px;
    z-index: 1;
    height: 150px;
    width: 750px;
    margin-top: 2%;
  }
  .row{
    justify-content: space-around;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .white
  {
    color: white;
    font-size: 130%;
  }
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  height: 120px;
  width: 120px;
  border-radius: 5px;
}
.ez{
  color: rgb(0, 0, 58);
}
.ezy{
  color:black;
  font-size: 140%;
}
.oui{
  z-index: 1;
  position: absolute;
  height: 35px;
  width: 55px;
  top:680px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid rgb(60, 60, 60);
}
.yepp{
  height: 98%;
  width: 100%;
}


@media screen and (max-width: 385px) {
  .container{
    width: 80%;
  }
  body{
    text-align: center;
  }
  .row{
    flex-direction: column;
  }
  .box{
    width: 100%;
    height: 50px;
  }
  .oui{
    top: 550px;
    left: -30px;
  }
 .btn1{
    width: 100px !important;
    height: 100px !important;
  }
  .btn2{
    width: 100px !important;
    height: 100px !important;
    margin-top: -40% !important;
  }
  .fun1{
    width: 100px !important;
    height: 100px !important;
    margin: 0px !important;
    right: 185px!important;
    top: 100px;

  }
  .fun2{
    width: 100px !important;
    height: 100px !important;
    margin: 0 !important;
    right: 80px !important;
    top: 100px;

  }
  .btn3{
    width: 100px !important;
    height: 100px !important;
  }
  .img{
    height: 50px !important;

  }
  .ag{
    height: 50px !important;
  }
  .yepp{
    height: 100% !important;
    width: 100% !important;
  }
  .modal-main{
    width: 100% !important;
    height: 60% !important;
  }
  .btnclose{

    border: none !important;
  }
}
  
