.computer {
    opacity: 0.7;
  }
  
  .btn, .result {
    height: 20vh;
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  .result {
    justify-content: center;
    align-items: center;
  }
  .computer {
    opacity: 0.7;
  }
  
  .btn, .result {
    height: 20vh;
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  .result {
    justify-content: center;
    align-items: center;
  }
    
.App{
  display: flex;
  justify-content: center;
}
  .container{
    position: absolute;
    border: solid 1px rgb(255, 254, 254);
    border-radius: 15px;
    z-index: 1;
    height: 150px;
    width: 750px;
    margin-top: 2%;
  }
  .row{
    justify-content: space-around;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .white
  {
    color: white;
    font-size: 130%;
  }
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  height: 120px;
  width: 120px;
  border-radius: 5px;
}
.ez{
  color: rgb(0, 0, 58);
}
.ezy{
  color:black;
  font-size: 140%;
}
.oui{
  z-index: 1;
  position: absolute;
  height: 35px;
  width: 55px;
  top:680px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid rgb(60, 60, 60);
}
.yepp{
  height: 98%;
  width: 100%;
}